*{
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #ac5ec2a8;
    height: 100px;
    position: relative;
    top: -10px;
    left: -10px;
    width: 100.95%;
}

header nav {
    display: inline;
    position: relative;
    top: 26%;
    right: 75px;
}

header nav ul {
    display: inline;
    float: right;
}

header nav ul li {
    background-color: #ffe8ff63;
    display: inline;
    font-weight: bold;
    margin: 0 3px;
    padding: 2em;
    border-radius: 20%;
}

body {
    background-color: #CCA5D5;
}

main .topic {
    background-color: #ffe8ff63;
}

.nav_link {
    color: white;    
}

.nav_link:active {
    color: darkblue;
}

.topic_title {
    position: relative;
    top: 5px;
    left: 5px;
    font-family: 'Oleo Script Swash Caps', sans-serif;
    color: black;
}

#title {
    color: white;
    display: inline;
    position: relative;
    top: 15%;
    left: 75px;
    font-size: 50px;
    font-family: 'Oleo Script Swash Caps', sans-serif;
}