*{
    font-family: 'Oswald', sans-serif;
}

header {
    background-color: #003897;
    height: 100px;
    position: relative;
    top: -10px;
    left: -10px;
    width: 100.95%;
}

header nav {
    display: inline;
    position: relative;
    top: 23%;
    right: 50px;
}

header nav ul {
    display: inline;
    float: right;
}

header nav ul li {
    background-color: #000064;
    display: inline;
    font-weight: bold;
    margin: 0 3px;
    padding: 2em;
    border-radius: 20%;
}

body {
    background-color: #0064B7;
}

main .topic {
    background-color: #008dc563;
    position: relative;
    left: 50px;
    width: 94%;
}

.nav_link {
    color: #F9EAFF;    
}

.nav_link:active {
    color: #00DFC1;
}

.section_title {
    position: relative;
    left: 20px;
    bottom: 5px;
    margin: 0;
    color: #FDF6FF;
}

.topic p {
    margin: 5px 0;
    position: relative;
    left: 30px;
    padding-bottom: 20px;
    color: #FDF6FF;
}

.topic_title {
    position: relative;
    top: 5px;
    left: 10px;
    font-family: 'Oleo Script Swash Caps', sans-serif;
    color: #FDF6FF;
    margin: 20px 0 10px 0;
    letter-spacing: 1px;
}

#title {
    color: #F9EAFF;
    display: inline;
    position: relative;
    top: 15%;
    left: 50px;
    font-size: 50px;
    font-family: 'Oleo Script Swash Caps', sans-serif;
}