*{
    box-sizing: border-box;
}

article {
    background-color: rgba(240, 235, 216, 0.5);
    border-radius: 10px;
    margin: 0 0 1.5rem 0;
    padding: 0 2.5% 1rem 2.5%;
}

article p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    border-bottom: 1px solid #0D1321;
    color: #0D1321;
    display: flex;
    font-family: 'Oswald', sans-serif;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem 0;
    position: relative;
    top: 0px;
}

html {
    color: #0D1321;
    font-size: 16px;
}

img {
    display: block;
}

main {
    font-family: 'Arsenal', sans-serif;
    margin: 0 auto 0 auto;
    padding: 0 10% 0 10%;
}

pre {
    margin: 0;
}

section {
    margin: 0;
}

table {
    border: 1px solid #1D2D44;
    width: 80%;
    margin: 0 auto;
}

table .empty {
    background-color: #748CAB;
    border-bottom: 0;
}

thead {
    background-color: #748CAB;
    color: white;
}

td {
    border-bottom: 1px solid #1D2D44;
    text-align: center;
}

.article_title {
    font-size: 1.3rem;
    margin: 0 0 0.5rem 0;
    padding: 0.5rem 0 0 0;
}

.content {
    padding: 0 10% 0 10%;
}

.last {
    border-bottom: 0;
}

.middle {
    border-left: 1px solid #1D2D44;
    border-right: 1px solid #1D2D44;
}

.topic_title {
    font-size: 1.8rem;
    margin: 2rem 0 1rem 0;
    padding: 0;
}

#title {
    display: inline-block;
    font-size: 2rem;
    margin: 0 0 0 10%;
}

#top_level {
    float: right;
    margin: 0 10% 0 0;
}

#top_level ul, #top_level li {
    display: inline;
    margin: 0;
    padding: 0;
}

#top_level li a {
    color: #1D2D44;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 1rem 1rem 1rem;
    text-decoration: none;
    vertical-align: middle;
}

#top_level li a:hover {
    color: #748CAB;
}